<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Reddit Clone</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
  </div>
</nav>

<main class="container">

  <div class="row">
    <div class="col-md-8">

      <div>
      <h3>Edit Post</h3>
      </div>

      <form name="form" ng-submit="$ctrl.editPost()">
        <div ng-class="{'form-group' : true, 'has-error' : form.title.$invalid && form.title.$touched}">
          <label for="title">Title</label>
          <input id="title" class="form-control" name="title" ng-model="$ctrl.post.title">
        </div>
        <div ng-class="{'form-group' : true, 'has-error' : form.body.$invalid && form.body.$touched}">
          <label for="body">Body</label>
          <textarea id="body" class="form-control" name="body" ng-model="$ctrl.post.body"></textarea>
        </div>
        <div ng-class="{'form-group' : true, 'has-error' : form.author.$invalid && form.author.$touched}">
          <label for="author">Author</label>
          <input id="author" class="form-control" name="author" ng-model="$ctrl.post.author">
        </div>
        <div ng-class="{'form-group' : true, 'has-error' : form.image_url.$invalid && form.image_url.$touched}">
          <label for="image-url">Image URL</label>
          <input id="image-url" class="form-control" name="image_url" ng-model="$ctrl.post.image_url">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Update
          </button>
          <button type="button" class="btn btn-primary" ng-click="$ctrl.deletePost($stateParams.id)">
            Delete
          </button>
        </div>
      </form>

    </div>
  </div>

</main>
